.body-quizz {
    background-color: rgb(0,94,184);
}

/*.body-success {
    background-color: rgba(230,59,17,0.7);
}*/

.question-title {
    font-family: 'Ubuntu', 'sans-serif';
    font-weight: 500;
    font-size: 8em;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.quizz-glyphe {
    width: 30%;
}

.quizz-image {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    height: 35em;
}

.question-text {
    font-family: 'Ubuntu', 'sans-serif';
    font-weight: 400;
    font-size: 4em;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.result-text {
    font-family: 'Ubuntu', 'sans-serif';
    font-weight: 400;
    font-size: 1.5em;
    color: white;
    margin-bottom: 2em;
}

.btn-emoji {
    font-size: 8em;
}

.btn-submit {
/*    background-color: rgb(152,164,174);
    border: 1px solid rgb(152,164,174);*/
    width: 20em;
    height: 20em;
    padding-top: 0;
    margin: 1em;
}

.btn-next {
    margin-bottom: 1em;
}

.next-text {
    font-size: 2em;
}

.next-link {
    color: white;
}

.next-link:hover {
    color: white;
    text-decoration: none;
}

.bandeau {
    line-height: 5em;
    font-size: 2em;
}