{% extends 'layout.html.twig' %}

{% block body %}

    <div>
        <p class="question-title text-center">Réponse :
            {% if answer5 == "A" %}
                YASSSS
            {% elseif answer5 == "B" %}
                NOPE
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <img src="https://media.giphy.com/media/U2nN0ridM4lXy/giphy.gif" alt="image question" class="quizz-image">
    </div>
    <div>
        <p class="question-text text-center">Laisse pas traîner ton fil <br> si tu veux pas qu'il grille 💥</p>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-warning btn-lg btn-next">
            <p class="next-text"><a href="index.php?page=success" class="next-link">Check ton score !</a></p>
        </button>
    </div>

{% endblock body %}