{% extends 'layout.html.twig' %}

{% block body %}

    <div>
        <p class="question-title text-center">Réponse :
            {% if answer3 == "A" %}
                YASSSS
            {% elseif answer3 == "B" %}
                NOPE
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <img src="assets/img/answer3.gif" alt="image question" class="quizz-image">
    </div>
    <div>
        <p class="question-text text-center">T'es ouf, ne rentre jamais <br> dans un poste électrique ! <br> Rentre plutôt à l'heure pour le dîner 🍼</p>
    </div>

    <div class="text-center btn-next">
        <button type="button" class="btn btn-warning btn-lg btn-next">
            <a href="index.php?page=question4" class="next-link">
                <img src="assets/img/arrow.png" alt="prochaine question" class="next-img">
            </a>
        </button>
    </div>

{% endblock body %}