{% extends 'layout.html.twig' %}

{% block body %}

    <div>
        <p class="question-title text-center">Réponse :
            {% if answer4 == "A" %}
                YASSSS
            {% elseif answer4 == "B" %}
                NOPE
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <img src="https://media.giphy.com/media/3o6MbnG1lpwIf5stB6/giphy.gif" alt="image question" class="quizz-image">
    </div>
    <div>
        <p class="question-text text-center">Ne sois pas si déter, <br> garde les pieds sur terre.</p>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-warning btn-lg btn-next">
            <p class="next-text"><a href="index.php?page=question5" class="next-link">NEXT ! 👉</a></p>
        </button>
    </div>

{% endblock body %}