{% extends 'layout.html.twig' %}

{% block body %}

    <div>
        <p class="question-title text-center">Réponse :
            {% if answer1 == "A" %}
                YASSSS
            {% elseif answer1 == "B" %}
                NOPE
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <img src="https://i.makeagif.com/media/5-03-2015/i3UkXX.gif" alt="image question" class="quizz-image">
    </div>
    <div>
        <p class="question-text text-center">Si tu vois un coffret électrique <br> ouvert ou endommagé, <br> n'y touche pas ! ✋ <br>
            Appelle le numéro <br> de dépannage 📞 si tu veux <br> mais ne t'éléctrocute pas (mdr).</p>
    </div>
    <div class="text-center btn-next">
        <button type="button" class="btn btn-warning btn-lg btn-next">
                <a href="index.php?page=question2" class="next-link">
                    <img src="assets/img/arrow.png" alt="prochaine question" class="next-img">
                </a>
        </button>
    </div>

{% endblock body %}