{% extends 'layout.html.twig' %}

{% block body %}

    <div>
        <p class="question-title text-center">Réponse 3/5
            <br>
            {% if answer3 == "A" %}
                YASSSS
            {% elseif answer3 == "B" %}
                NOPE
            {% endif %}
        </p>
    </div>
    <div class="text-center">
        <img src="http://via.placeholder.com/500x250" alt="image question" class="quizz-image">
    </div>
    <div>
        <p class="question-text text-center">Si tu vois un coffret électrique ouvert ou endommagé, n'y touche pas ! Appelle
            le numéro de dépannage Enedis si tu veux mais ne t'éléctrocute pas mdr.</p>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success btn-lg btn-quizz">
            <p class="question-text"><a href="index.php?page=question4">Question suivante</a></p>
        </button>
    </div>

{% endblock body %}